:root {
    --header-height: 3rem;
    --hue: 175;
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 0%);
    --red: #fd3b3b;
    --text-color: hsl(var(--hue), 5%, 40%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    --input-background: hsl(var(--hue), 5%, 99%);
    --body-color: hsl(var(--hue), 15%, 99.5%);
    --border-color: hsl(var(--hue), 10%, 90%);
    --shadow: hsl(195.86deg 30.58% 55.84% / 20%);
    --body-font: "Cairo", sans-serif;
    --biggest-font-size: 5rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.073rem;
    --normal-font-size: 0.955rem;
    --small-font-size: .823rem;
    --smaller-font-size: .75rem;
    --text-line-height: 2rem;
    --font-medium: 500;
    --font-semi: 600;
    --font-semi-bold: 700;
    --font-bold: bold;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 7.5rem;
        --bigger-font-size: 4.5rem;
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .975rem;
        --smaller-font-size: .813rem;
    }
}

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.5;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1,
h2,
h3 {
    color: var(--title-color);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.85em;
}

div {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: var(--first-color);
    text-decoration: none;
}

a:hover:not(.button) {
    opacity: 0.75;
}

button {
    font-family: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    padding: 1.5rem 2rem;
}

dl dt {
    font-weight: bold;
}

hr {
    height: 1px;
    opacity: 0.2;
    margin: .2rem 0;
}

button,
input {
    border: none;
    outline: none;
    overflow: visible;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

th,
td {}

th:first-child,
td:first-child {
    padding-left: 5px;
}

th:last-child,
td:last-child {
    padding-right: 5px;
}

.table {}

.table .row {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.table .row.head {
    border-bottom: 1px solid #5ECE90;
}

.table .column {
    padding: 5px 10px;
    margin: 0;
    display: inline-block;
}

code {
    width: 98%;
    padding: 1%;
    background: #DDD;
    border: 1px solid #AAA;
    display: block;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow-x: auto;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="color"],
textarea,
select {
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="file"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
input[type="color"]:hover,
select:hover,
textarea:hover {
    border: 1px solid var(--border-color);
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="color"]:focus,
input[inputmode]:focus,
select:focus,
textarea:focus {
    outline: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="tel"] {
    direction: ltr;
    padding-block: 1px;
    padding-inline: 2px;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.flex {
    display: flex;
}

.container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.app-content {
    overflow: hidden;
}

.section {
    padding: 1rem 0 1rem;
}

.section__height {
    padding-top: 0.55rem;
}

.section__title {
    font-size: var(--normal-font-size);
    color: var(--title-color);
    margin-bottom: 0.5rem;
}

.alert_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    transition: .4s;
    text-align: center;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    padding: 0.91rem 0;
    z-index: 101;
}

.header {
    position: relative;
    width: 100%;
    z-index: var(--z-fixed);
    transition: .4s;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo svg {
    height: 43px;
}

.header-container {
    height: var(--header-height);
}

.st0 {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 1;
    stroke-linecap: square;
    stroke-alignment: inner;
    stroke-dasharray: 5000;
    stroke-dashoffset: 4500;
    animation: draw 3000ms infinite;
}

.animate-pulse {
    min-width: 55%;
    margin: 0 auto;
    animation: animate_pulse 1s infinite;
}

.animate-pulse:hover {
    animation: none;
}

.owl-demo {
    margin-bottom: 0.5rem;
    padding: 0.05rem;
}

[dir=rtl] .owl-dot.active:after {
    right: 7px;
    left: auto;
}

.owl-carousel {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    box-shadow: 0 4px 12px -2px rgba(0, 32, 128, .1), 0 0 0 1px rgba(60, 80, 120, 0.1);
}

.owl-carousel .owl-item {
    background-repeat: no-repeat;
    background-position: center;
}

.owl-carousel .item.owl-lazy {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    position: relative;
    overflow: hidden;
    transition: background 3s ease;
}

.owl-carousel .owl-item.active .item.owl-lazy {
    background-size: cover !important;
    height: 385px;
    min-height: 385px;
    filter: saturate(1.4) contrast(1.1);
    transition: background-size 1s ease .5s;
}

.owl-carousel .owl-item.active .sliderContentInner {
    opacity: 1;
    transition: all .8s ease .5s;
}

.owl-theme .owl-dots .owl-dot {
    padding: 0px;
    background: none;
    border: none;
    outline: none;
    transition: all 200ms ease-in-out;
}

.sliderContentInner {
    position: absolute;
    bottom: 0px;
    padding: 30px 5px;
    font-size: 16px;
    opacity: 0;
    transition: all .5s ease;
}

.sliderContentInner p.lead {
    line-height: 1.3;
}

.sliderContent h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    display: none;
}

.owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.slide-progress {
    width: 0;
    max-width: 100%;
    height: 4px;
    background: #cc0000;
    position: relative;
    z-index: 9;
    top: 4px;
}

.owl-dot.active {
    position: relative;
}

.owl-dot.active:after {
    animation: smProgressbar 5s ease forwards;
    position: absolute;
    top: 5px;
    left: 7px;
    content: '';
    height: 2px;
    width: 0px;
    z-index: 2;
}

.owl-theme .owl-dots {
    position: relative;
    z-index: 9;
    top: 5px;
    margin-top: -1.5rem !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 2px;
    border-radius: 0px;
    opacity: .5;
}

.HowUse {
    width: 100%;
    position: relative;
    padding: 0.5rem;
}

.c-card__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    background: #2d0666 !important;
    color: #ffffff !important;
    border-color: #2d0666 !important;
    letter-spacing: 1px !important;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

.span-red {
    font-size: var(--h3-font-size);
    animation: waver 0.5s infinite;
}

.order-now {
    position: relative;
    margin: 0.5rem auto;
}

.order-now::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #481797;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.order-now .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
}

.order-now h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}

.order-now .box {
    padding: 15px 22px;
    text-align: center;
    position: relative;
    flex: 33.33%;
}

@media (max-width: 767px) {
    .order-now {
        padding: 0;
        margin: 0.5rem 0 auto;
        width: 100%;
    }

    .order-now::before {
        border-radius: 0px;
    }
}

.order-now .box::before {
    top: 0;
    right: 0;
}

.order-now .box::after {
    left: 0;
    bottom: 0;
}

.order-now .box:hover {
    opacity: 1;
}

.order-now .box:hover::before,
.order-now .box:hover::after {
    height: 100%;
}

.order-now .box .number {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.order-now .box .text {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.order-now .box span {
    color: white;
    font-weight: bold;
}

@media (max-width: 550px) {
    .order-now .box .number {
        font-size: 18px;
    }

    .order-now .box {
        padding: 5px 2px;
    }
}

@media (max-width: 375px) {
    .order-now .box .number {
        font-size: 14px;
    }

    .order-now .box {
        padding: 5px 2px;
    }

    .order-now .container .box a {
        padding: 0.5rem 0.85rem;
    }

    .order-now .box .number {
        font-size: 17px;
    }
}

@media (max-width: 280px) {
    .order-now .box .number {
        font-size: 14px;
    }

    .order-now .box {
        padding: 5px 2px;
    }

    .order-now .container .box a {
        padding: 15px 15px;
    }

    .order-now .box .number {
        font-size: 17px;
    }
}

.order-bottom {
    position: relative;
    margin: 0 auto;
    display: none;
}

.order-bottom .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
}

.order-bottom h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}

.order-bottom .box {
    padding: 15px 22px;
    text-align: center;
    position: relative;
    flex: 33.33%;
}

.order-bottom .container .box a {
    border: none;
    cursor: pointer;
}

#order-bottom {
    position: fixed;
    bottom: 0px;
    z-index: 8888888888;
    background-color: #481797;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#order-bottom .container {
    padding: 0px;
    font-size: 2px;
}

#order-bottom.container .box {
    padding: 0px 5px;
}

.order-bottom .box {
    padding: 15px 5px;
}

#order-bottom.box a {
    margin: 10px auto;
}

#order-bottom .box .number {
    font-size: 22px;
    border-radius: 10px;
}

.order-bottom .box::before {
    top: 0;
    right: 0;
}

.order-bottom .box::after {
    left: 0;
    bottom: 0;
}

.order-bottom .box:hover {
    opacity: 1;
}

.order-bottom .box:hover::before,
.order-bottom .box:hover::after {
    height: 100%;
}

.order-bottom .box .number {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-bottom .box .text {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.order-bottom .box span {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .order-bottom {
        padding: 0;
        margin: 0;
        display: block;
    }
}

@media (max-width: 550px) {
    #order-bottom .box .number {
        font-size: 20px;
    }

    #order-bottom .box a {
        padding: 0.7rem 0.95rem;
    }
}

@media (max-width: 280px) {
    #order-bottom .container .box {
        padding: 0;
    }

    #order-bottom .container .box .number {
        font-size: 14px;
    }

    #order-bottom .container .box a {
        font-size: 10px;
        padding: 13px 45px;
    }

    #order-bottom .container .box a {
        font-size: 10px;
        padding: 13px 18px;
    }
}

.certificate-text {
    text-align: center;
    background-color: #099ab9;
    color: var(--white);
    margin: 1rem 0 auto;
    padding: 0.5rem;
}

.certificates__container {
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    justify-items: center;
}

.certificates__img {
    width: 90px;
    filter: invert(0.05);
}

.button {
    display: inline-block;
    background-color: #2d0666;
    color: var(--white);
    padding: 0.55rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    border-radius: 0.8rem;
    text-align: center;
    transition: .3s;
}

.button:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
    opacity: 0.9;
    transform: scale(0.88);
}

.btn-green {
    color: var(--white);
    background-color: #36d500;
    text-align: center;
    font-weight: var(--font-semi-bold);
    padding: 0.7rem 1.9rem;
    border-radius: 0.55rem;
}

.whatsApp {
    position: fixed;
    background-color: #25d366;
    background-image: linear-gradient(to right, #25d366 0%, #00ea1d 100%);
    width: 2.5rem;
    height: 2.5rem;
    left: 0.35rem;
    bottom: 5.5rem;
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 25%;
    z-index: var(--z-fixed);
    opacity: .9;
    transition: .4s;
    animation: pulsing 1.25s infinite;
    box-shadow: 0 0 0 0 #01ea1e;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.whatsApp:hover {
    background-color: #56eb8e;
    opacity: 1;
}

.footer {
    padding: 0 0 1rem;
    background-color: #2d0666;
}

.footer .footer-inner {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    text-align: center;
}

.footer .footer__terms {
    display: flex;
    flex-direction: column;
    row-gap: 0.55rem;
}

.footer .footer__terms a {
    padding: 0 0.2rem;
    display: inline-block;
    text-decoration: none;
}

.footer .footer__terms a:hover {
    color: #6935FD;
}

.footer__copy {
    display: block;
    margin: 0.5rem 0 0.5rem;
    text-align: center;
}

.footer__copy a {
    color: var(--first-color);
    display: inline-block;
    text-decoration: none;
}

.footer__copy,
.footer__terms-link {
    font-size: var(--small-font-size);
    color: var(--white);
}

@media (max-width: 280px) {
    .container {
        width: 100%;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 95%;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

@media screen and (min-width: 576px) {
    .footer__copy {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 0.5rem 0 0.5rem;
    }

    .header {
        background-color: var(--body-color);
    }

    .header-container {
        margin-top: calc(var(--header-height) + .25rem);
    }

    .header__img {
        display: none;
    }

    .box-container {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .wrapper-radio {
        justify-content: center;
        flex-direction: row;
        column-gap: 0.5rem;
    }

    .wrapper-radio .option span {
        font-size: var(--smaller-font-size);
    }

    .box img {
        width: 80px;
    }

    .owl-carousel .owl-item.active .item.owl-lazy {
        background-size: cover;
        height: 100%;
        width: auto;
    }

    .footer {
        margin: 0.5rem 0 1.5rem;
    }

    .footer__copy {
        margin: 0.1rem 0 0.1rem
    }

    .footer .footer-inner {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer .footer__terms {
        column-gap: 0.5rem;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .scroll-to-top,
    .whatsApp {
        bottom: 0.55rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        margin: 0;
    }

    .footer__copy {
        margin-top: 1rem;
    }
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 6px rgba(232, 76, 61, 0);
    }
}

@keyframes smProgressbar {
    0% {
        width: 0px;
    }

    100% {
        width: 30px;
    }
}

@keyframes waver {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes draw {
    0% {
        stroke-dashoffset: 5000;
        animation-timing-function: ease-in;
    }

    15% {
        fill: #ef4858;
        animation-timing-function: ease-in;
    }

    40%,
    50% {
        fill: #fbc01c;
        stroke-dashoffset: 4500;
    }

    75% {
        fill: #583f98;
        animation-timing-function: ease-out;
    }

    90%,
    100% {
        stroke-dashoffset: 5000;
        animation-timing-function: ease-out;
    }
}

@keyframes animate_pulse {
    0% {
        box-shadow: 0 0 0 0 #36d500;
    }

    70% {
        box-shadow: 0 0 0 5px rgba(228, 25, 49, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
    }
}

.order__form {
    position: relative;
    width: 100%;
}

.order__form-container {
    position: relative;
    margin: 0.5rem 0.5rem;
    background-color: #f2f2fc;
    padding: 0.75rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 45px -20px var(--shadow);
    border: 2px solid rgba(255, 255, 255, .363);
    z-index: 10;
}

.heading_container {
    padding-bottom: 1rem;
}

.heading_flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 500px;
    margin: 0 auto;
}

.heading h3 {
    text-shadow: 0 2px 3px rgb(229 226 235 / 66%);
    font-weight: var(--font-medium);
    font-size: var(--text-line-height);
    text-align: center;
    letter-spacing: .02em;
}

.heading_desc {
    margin: 0 0.25rem 0.5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--black-color-alt);
    text-align: center;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 525px;
    margin: 0 auto;
}

.text-error {
    color: #e74c3c;
    background-color: #ffabab;
    display: block;
    font-weight: var(--font-medium);
    line-height: 2rem;
    margin: 0.5rem 0 0;
    text-indent: 10px;
    border-radius: 0.5rem;
}

.error-shake {
    animation: shake 0.65s 0.5s ease-in-out;
}

.wrapper-radio {
    display: flex;
    flex-direction: column;
}

.wrapper-radio .option {
    background-color: var(--body-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0 5px;
    border: 2px solid #ddd;
    transition: all .3s ease;
}

.wrapper-radio .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

.wrapper-radio .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #fbfdf7;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.wrapper-radio input[type="radio"] {
    display: none;
}

.wrapper-radio label:focus-within,
.wrapper-radio label:hover {
    background-color: #481797 !important;
    border-color: #481797 !important;
    color: var(--white) !important;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
    border-color: #481797;
    background: #2d0666;
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot {
    background: #542f8f;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.wrapper-radio .option span {
    font-size: var(--small-font-size);
}

#option-1:checked:checked~.option-1 span {
    color: var(--white) !important;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
    color: var(--white);
}

#option-1:checked:checked~.option-1 span:focus-within,
#option-2:checked:checked~.option-2 span:focus-within {
    color: var(--white) !important;
}

.iti {
    width: 100%;
}

.iti__country-list {
    z-index: 20 !important;
}

.iti-mobile .iti--container {
    top: 50%;
    bottom: 0;
    left: auto;
    right: auto;
    position: fixed;
}

.country-select {
    width: 85.85% !important;
}

.country-list {
    z-index: 20 !important;
}

.iti__selected-flag {
    gap: 5px;
    padding: 0 4px 0 10px;
}

.iti__selected-flag {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.iti--separate-dial-code .iti__selected-flag {
    direction: ltr;
}

[dir=rtl] .iti--allow-dropdown .iti__flag-container,
[dir=rtl] .iti--separate-dial-code .iti__flag-container {
    left: 0;
    right: auto;
}

[dir=rtl] .iti--separate-dial-code.iti--show-flags .iti__selected-dial-code {
    margin-left: 5px;
    margin-right: auto;
}

[dir=rtl] .flag-dropdown {
    right: 0 !important;
    left: auto !important;
}

[dir=rtl] .country-select.inside input,
.country-select.inside input[type=text] {
    padding-right: 40px !important;
    padding-left: 45px !important;
    margin-right: 0;
}

[dir=rtl] .iti--allow-dropdown input,
[dir=rtl] .iti--allow-dropdown input[type=tel],
[dir=rtl] .iti--allow-dropdown input[type=text],
[dir=rtl] .iti--separate-dial-code input,
[dir=rtl] .iti--separate-dial-code input[type=tel],
[dir=rtl] .iti--separate-dial-code input[type=text] {
    padding-right: 10px !important;
    padding-left: 85px !important;
}

.hide {
    display: none;
}

#valid-msg {
    color: #00c900;
}

.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form__title {
    font-weight: 400;
    margin-bottom: 3rem;
}

.form__div {
    position: relative;
}

.form__input {
    width: 100%;
    height: calc(1.5em + 1.5rem + 5px);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    font-family: var(--body-font);
    background-color: var(--input-background);
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    outline: 0;
    overflow-y: hidden;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .2s ease;
}

.form__label {
    padding: 0 0.25rem;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .1s;
}

.label__box {
    font-size: .87rem;
    left: 0.2rem;
    top: 0.9rem;
    font-weight: var(--font-medium);
}

.form__input:focus {
    border: 1.5px solid var(--dark);
    transition: all 0.1s ease;
    background: var(--white);
    box-shadow: var(--white) 0 0 0 2px, rgb(188 208 209 / 31%) 0 0 0 4px;
}

.form__div:focus-within>.form__icon {
    color: #481797b8;
}

.form__icon {
    font-size: 1.65rem;
    position: absolute;
    top: 1.70rem;
    transform: translateY(-50%);
    padding: 0.5rem 0.5rem;
    z-index: 10;
    color: #777;
}